@use '../utils' as utils;

@each $mb in utils.$margin {
    $number: calc($mb / ($mb * 0 + 1px));

    .mb-#{$number} {
        margin-bottom: $mb;
    }

    .ml-#{$number} {
        margin-left: $mb;
    }

    .mr-#{$number} {
        margin-right: $mb;
    }

    .mt-#{$number} {
        margin-top: $mb;
    }

    .my-#{$number} {
        margin-top: $mb;
        margin-bottom: $mb;
    }

    .my-#{$number} {
        margin-left: $mb;
        margin-right: $mb;
    }
    
    @each $breakpoint, $value in utils.$breakpoints-up {
        @media (min-width: #{$value}) {
            .#{$breakpoint}\:mb-#{$number} {
                margin-bottom: $mb !important;
            }

            .#{$breakpoint}\:ml-#{$number} {
                margin-left: $mb !important;
            }

            .#{$breakpoint}\:mr-#{$number} {
                margin-right: $mb !important;
            }

            .#{$breakpoint}\:mt-#{$number} {
                margin-top: $mb !important;
            }

            .#{$breakpoint}\:my-#{$number} {
                margin-top: #{$number} !important;
                margin-bottom: $mb !important;
            }
        }
    }
}

// @each $mb in $margin {
//     $number: calc($mb / ($mb * 0 + 1px));

//     .mb-#{$number} {
//         margin-bottom: $mb !important;
//     }

//     .ml-#{$number} {
//         margin-left: $mb;
//     }

//     .mr-#{$number} {
//         margin-right: $mb;
//     }

//     .mt-#{$number} {
//         margin-top: $mb !important;
//     }

//     .my-#{$number} {
//         margin-top: $mb !important;
//         margin-bottom: $mb !important;
//     }
// }

@each $pd in utils.$padding {
    $number: calc($pd / ($pd * 0 + 1px));

    .p-#{$number} {
        padding: $pd;
    }

    .pr-#{$number} {
        padding-right: $pd;
    }

    .pl-#{$number} {
        padding-left: $pd;
    }

    .pt-#{$number} {
        padding-top: $pd;
    }

    .pb-#{$number} {
        padding-bottom: $pd;
    }

    .px-#{$number} {
        padding-left: $pd;
        padding-right: $pd;
    }

    .py-#{$number} {
        padding-top: $pd;
        padding-bottom: $pd;
    }

    @each $breakpoint, $value in utils.$breakpoints-up {
        @media (min-width: #{$value}) {
            .#{$breakpoint}\:pb-#{$number} {
                padding-bottom: $pd !important;
            }

            .#{$breakpoint}\:pl-#{$number} {
                padding-left: $pd !important;
            }

            .#{$breakpoint}\:pr-#{$number} {
                padding-right: $pd !important;
            }

            .#{$breakpoint}\:pt-#{$number} {
                padding-top: $pd !important;
            }

            .#{$breakpoint}\:py-#{$number} {
                padding-top: #{$number}px !important;
                padding-bottom: $pd !important;
            }
        }
    }
}



.h-500 {
    height: 500px;
}