@use '../utils' as utils;
@use "sass:list";


h1,
h2,
h3,
h4,
h5 {
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    margin: 0;
}

h1 {
    font-size: clamp(utils.rem(28), utils.rem(16) + 2vw, utils.rem(48));
    font-weight: 900;
    line-height: 0.69;
}

h2 {
    font-size: clamp(utils.rem(22), utils.rem(14) + 1.5vw, utils.rem(36));
    font-weight: bold;
    line-height: 0.92;
}

h3 {
    font-size: clamp(utils.rem(19), utils.rem(13) + 1.4vw, utils.rem(30));
    font-weight: bold;
    line-height: 0.92;
}

h4 {
    font-size: clamp(utils.rem(16), utils.rem(12) + 1.2vw, utils.rem(24));
    font-weight: 500;
    line-height: 0.88;
}

h5 {
    font-size: clamp(utils.rem(14), utils.rem(10) + 1vw, utils.rem(20));
    font-weight: 500;
    line-height: 0.85;
}

p {
    margin-top: 0;
}

span,
p {
    font-size: clamp(utils.rem(11), utils.rem(16) + 0.5vw, utils.rem(10));
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;

    &[role=alert] {
        color: red;
    }
}

a,
a:visited,
a:active {
    text-decoration: none;
}

@each $class, $sizes in utils.$fontSizes {
    .fs-#{$class} {
        font-size: clamp(utils.rem(list.nth($sizes, 1)), utils.rem(list.nth($sizes, 1)) + 1vw, utils.rem(list.nth($sizes, 2))) !important;
    }
}

@each $class, $color in utils.$colors {
    .text-#{$class} {
        color: $color !important;
    }
}

.text-italic {
    font-style: italic;
}

.font-weight-500 {
    font-weight: 500;
}

.font-weight-bold {
    font-weight: bold;
}

.font-weight-normal {
    font-weight: normal;
}

.font-weight-light {
    font-weight: lighter;
}

.line-height-normal {
    line-height: normal;
}