@use '../utils' as *;

h1,
h2,
h3,
h4,
h5 {
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    margin: 0;
}

h1 {
    font-size: clamp(rem(28), rem(16) + 2vw, rem(48));
    font-weight: 900;
    line-height: 0.69;
}

h2 {
    font-size: clamp(rem(22), rem(14) + 1.5vw, rem(36));
    font-weight: bold;
    line-height: 0.92;
}

h3 {
    font-size: clamp(rem(19), rem(13) + 1.4vw, rem(30));
    font-weight: bold;
    line-height: 0.92;
}

h4 {
    font-size: clamp(rem(16), rem(12) + 1.2vw, rem(24));
    font-weight: 500;
    line-height: 0.88;
}

h5 {
    font-size: clamp(rem(14), rem(10) + 1vw, rem(20));
    font-weight: 500;
    line-height: 0.85;
}

p {
    margin-top: 0;
}

span,
p {
    font-size: clamp(rem(11), rem(16) + 0.5vw, rem(10));
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;

    &[role=alert] {
        color: red;
    }
}

a,
a:visited,
a:active {
    text-decoration: none;
}

@each $class, $sizes in $fontSizes {
    .fs-#{$class} {
        font-size: clamp(rem(nth($sizes, 1)), rem(nth($sizes, 1)) + 1vw, rem(nth($sizes, 2))) !important;
    }
}

@each $class, $color in $colors {
    .text-#{$class} {
        color: $color !important;
    }
}

.text-italic {
    font-style: italic;
}

.font-weight-500 {
    font-weight: 500;
}

.font-weight-bold {
    font-weight: bold;
}

.font-weight-normal {
    font-weight: normal;
}

.font-weight-light {
    font-weight: lighter;
}

.line-height-normal {
    line-height: normal;
}