@use '../utils' as utils;

.btn-gradient {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    z-index: 1;
    cursor: pointer;

    &.skew {
        &::before {
            transform: skewX(-15deg);
        }

        &.active {
            &::after {
                transform: skewX(-15deg);
            }
        }
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        border-radius: 10px;
    }

    &.active {
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: -1;
            margin: -5px;
            border-radius: 15px;
            border: 2px solid var(--arcano);
        }
    }

    &.comun {
        &::before {
            background: var(--gris-latam-plus-60);
        }
    }

    &.poco-comun {
        &::before {
            background: linear-gradient(225deg, var(--arcano-plus-40) 0%, var(--raro-plus-60) 45%, var(--raro) 100%);
        }
    }

    &.mitico {
        &::before {
            background: linear-gradient(225deg, var(--legendario-plus-60) 0%, var(--mitico-plus-20) 65%, var(--mitico-minus-20) 100%);
        }
    }

    &.legendario {
        &::before {
            background: linear-gradient(225deg, var(--inmortal-plus-60) 0%, var(--legendario-plus-20) 65%, var(--legendario-minus-20) 100%);
        }
    }
}

@mixin property-value($property, $value) {
    #{$property}: #{$value} !important;
}

@function escape-slash($str) {
    $escaped-str: "";

    @for $i from 1 through str-length($str) {
        $char: str-slice($str, $i, $i);

        @if $char =="/" {
            $escaped-str: $escaped-str + "\\/";
        }

        @else {
            $escaped-str: $escaped-str + $char;
        }
    }

    @return $escaped-str;
}

@function escape-point($str) {
    $escaped-str: "";

    @for $i from 1 through str-length($str) {
        $char: str-slice($str, $i, $i);

        @if $char =="." {
            $escaped-str: $escaped-str + "\\.";
        }

        @else {
            $escaped-str: $escaped-str + $char;
        }
    }

    @return $escaped-str;
}

$utilities: (
    "font-weight": ("font-weight-bold": bold,
        "font-weight-normal": normal,
        "font-weight-light": light,
        "font-weight-lighter": lighter,
        "font-weight-lightest": lightest),
    "display": ("d-flex": flex,
        "d-block": block,
        "d-none": none,
        "d-inline-block": inline-block,
        "d-grid": grid),
    "flex-direction": ("flex-row": row,
        "flex-row-reverse": row-reverse,
        "flex-column": column,
        "flex-column-reverse": column-reverse),
    "vertical-align": ("align-baseline": baseline,
        "align-top": top,
        "align-middle": middle,
        "align-bottom": bottom,
        "align-text-bottom": text-bottom,
        "align-text-top": text-top),
    "justify-content": ("justify-start": flex-start,
        "justify-center": center,
        "justify-space-between": space-between,
        "justify-end": flex-end,
        "justify-evenly": space-evenly),
    "align-items": ("align-center": center,
        "align-end": flex-end,
        "align-start": flex-start,
        "align-baseline": baseline,
        "align-stretch": stretch),
    "float": ("float-start": left,
        "float-end": right,
        "float-none": none),
    "position": ("position-relative": relative,
        "position-absolute": absolute,
        "position-sticky": sticky),
    "align-self": ("align-self-start": flex-start,
        "align-self-end": flex-end,
        "align-self-center": center,
        "align-self-baseline": baseline),
    "text-align": ("text-center": center,
        "text-left": left,
        "text-justify": justify,
        "text-right": right),
    "min-height": ("mh-100": "100%",
        "mh-40": "40%",
        "mh-50": "50%",
        "mh-70": "70%",
        "mh-80": "80%",
        "mh-85": "85%"
    ),
    "border-radius": ("rounded-none": "0px",
        "rounded-sm": "0.125rem",
        "rounded": "0.25rem",
        "rounded-md": "0.375rem",
        "rounded-lg": "0.5rem",
        "rounded-xl": "0.75rem",
        "rounded-2xl": "1rem",
        "rounded-3xl": "1.5rem",
        "rounded-full": "9999px"
    ),
    "gap": ("gap-0": "gap: 0px",
        "gap-x-0": "column-gap: 0px",
        "gap-y-0": "row-gap: 0px",
        "gap-px": "gap: 1px",
        "gap-x-px": "column-gap: 1px",
        "gap-y-px": "row-gap: 1px",
        "gap-0.5": "gap: 0.125rem",
        "gap-x-0.5": "column-gap: 0.125rem",
        "gap-y-0.5": "row-gap: 0.125rem",
        "gap-1": "gap: 0.25rem",
        "gap-x-1": "column-gap: 0.25rem",
        "gap-y-1": "row-gap: 0.25rem",
        "gap-1.5": "gap: 0.375rem",
        "gap-x-1.5": "column-gap: 0.375rem",
        "gap-y-1.5": "row-gap: 0.375rem",
        "gap-2": "gap: 0.5rem",
        "gap-x-2": "column-gap: 0.5rem",
        "gap-y-2": "row-gap: 0.5rem",
        "gap-2.5": "gap: 0.625rem",
        "gap-x-2.5": "column-gap: 0.625rem",
        "gap-y-2.5": "row-gap: 0.625rem",
        "gap-3": "gap: 0.75rem",
        "gap-x-3": "column-gap: 0.75rem",
        "gap-y-3": "row-gap: 0.75rem",
        "gap-3.5": "gap: 0.875rem",
        "gap-x-3.5": "column-gap: 0.875rem",
        "gap-y-3.5": "row-gap: 0.875rem",
        "gap-4": "gap: 1rem",
        "gap-x-4": "column-gap: 1rem",
        "gap-y-4": "row-gap: 1rem",
        "gap-5": "gap: 1.25rem",
        "gap-x-5": "column-gap: 1.25rem",
        "gap-y-5": "row-gap: 1.25rem",
        "gap-6": "gap: 1.5rem",
        "gap-x-6": "column-gap: 1.5rem",
        "gap-y-6": "row-gap: 1.5rem",
        "gap-7": "gap: 1.75rem",
        "gap-x-7": "column-gap: 1.75rem",
        "gap-y-7": "row-gap: 1.75rem",
        "gap-8": "gap: 2rem",
        "gap-x-8": "column-gap: 2rem",
        "gap-y-8": "row-gap: 2rem",
        "gap-9": "gap: 2.25rem",
        "gap-x-9": "column-gap: 2.25rem",
        "gap-y-9": "row-gap: 2.25rem",
        "gap-10": "gap: 2.5rem",
        "gap-x-10": "column-gap: 2.5rem",
        "gap-y-10": "row-gap: 2.5rem",
        "gap-11": "gap: 2.75rem",
        "gap-x-11": "column-gap: 2.75rem",
        "gap-y-11": "row-gap: 2.75rem",
        "gap-12": "gap: 3rem",
        "gap-x-12": "column-gap: 3rem",
        "gap-y-12": "row-gap: 3rem",
        "gap-14": "gap: 3.5rem",
        "gap-x-14": "column-gap: 3.5rem",
        "gap-y-14": "row-gap: 3.5rem",
        "gap-16": "gap: 4rem",
        "gap-x-16": "column-gap: 4rem",
        "gap-y-16": "row-gap: 4rem",
        "gap-20": "gap: 5rem",
        "gap-x-20": "column-gap: 5rem",
        "gap-y-20": "row-gap: 5rem",
    ),
    "aspect-ratio": ("aspect-auto": "auto",
        "aspect-square": "1 / 1",
        "aspect-video": "16 / 9"
    ),
    "font-size": ("text-xs": "0.75rem",
        "text-sm": "0.875rem",
        "text-base": "1rem",
        "text-lg": "1.125rem",
        "text-xl": "1.25rem",
        "text-2xl": "1.5rem",
        "text-3xl": "1.875rem",
        "text-4xl": "2.25rem",
        "text-5xl": "3rem",
        "text-6xl": "3.75rem",
        "text-7xl": "4.5rem",
        "text-8xl": "6rem",
        "text-9xl": "8rem"
    ),
    "width": ("w-0": "0px",
        "w-px": "1px",
        "w-1": "0.25rem",
        "w-2": "0.5rem",
        "w-3": "0.75rem",
        "w-4": "1rem",
        "w-5": "1.25rem",
        "w-6": "1.5rem",
        "w-7": "1.75rem",
        "w-8": "2rem",
        "w-9": "2.25rem",
        "w-10": "2.5rem",
        "w-11": "2.75rem",
        "w-12": "3rem",
        "w-14": "3.5rem",
        "w-16": "4rem",
        "w-20": "5rem",
        "w-24": "6rem",
        "w-28": "7rem",
        "w-32": "8rem",
        "w-36": "9rem",
        "w-40": "10rem",
        "w-44": "11rem",
        "w-48": "12rem",
        "w-52": "13rem",
        "w-56": "14rem",
        "w-60": "15rem",
        "w-64": "16rem",
        "w-72": "18rem",
        "w-80": "20rem",
        "w-96": "24rem",
        "w-auto": "auto",
        "w-1/2": "50%",
        "w-1/3": "33.333333%",
        "w-2/3": "66.666667%",
        "w-1/4": "25%",
        "w-2/4": "50%",
        "w-3/4": "75%",
        "w-1/5": "20%",
        "w-2/5": "40%",
        "w-3/5": "60%",
        "w-4/5": "80%",
        "w-1/6": "16.666667%",
        "w-2/6": "33.333333%",
        "w-3/6": "50%",
        "w-4/6": "66.666667%",
        "w-5/6": "83.333333%",
        "w-1/12": "8.333333%",
        "w-2/12": "16.666667%",
        "w-3/12": "25%",
        "w-4/12": "33.333333%",
        "w-5/12": "41.666667%",
        "w-6/12": "50%",
        "w-7/12": "58.333333%",
        "w-8/12": "66.666667%",
        "w-9/12": "75%",
        "w-10/12": "83.333333%",
        "w-11/12": "91.666667%",
        "w-full": "100%",
        "w-screen": "100vw",
        "w-svw": "100svw",
        "w-lvw": "100lvw",
        "w-dvw": "100dvw",
        "w-min": "min-content",
        "w-max": "max-content",
        "w-fit": "fit-content"
    ),
    "margin": ("mx-auto": "0 auto"
    ),
    "height": ("h-0": "0px",
        "h-px": "1px",
        "h-1": "0.25rem",
        "h-2": "0.5rem",
        "h-3": "0.75rem",
        "h-4": "1rem",
        "h-5": "1.25rem",
        "h-6": "1.5rem",
        "h-7": "1.75rem",
        "h-8": "2rem",
        "h-9": "2.25rem",
        "h-10": "2.5rem",
        "h-11": "2.75rem",
        "h-12": "3rem",
        "h-14": "3.5rem",
        "h-16": "4rem",
        "h-20": "5rem",
        "h-24": "6rem",
        "h-28": "7rem",
        "h-32": "8rem",
        "h-36": "9rem",
        "h-40": "10rem",
        "h-44": "11rem",
        "h-48": "12rem",
        "h-52": "13rem",
        "h-56": "14rem",
        "h-60": "15rem",
        "h-64": "16rem",
        "h-72": "18rem",
        "h-80": "20rem",
        "h-96": "24rem",
        "h-auto": "auto",
    ),
    // grid-cols-1	grid-template-columns: repeat(1, minmax(0, 1fr));
    // grid-cols-2	grid-template-columns: repeat(2, minmax(0, 1fr));
    // grid-cols-3	grid-template-columns: repeat(3, minmax(0, 1fr));
    // grid-cols-4	grid-template-columns: repeat(4, minmax(0, 1fr));
    // grid-cols-5	grid-template-columns: repeat(5, minmax(0, 1fr));
    // grid-cols-6	grid-template-columns: repeat(6, minmax(0, 1fr));
    // grid-cols-7	grid-template-columns: repeat(7, minmax(0, 1fr));
    // grid-cols-8	grid-template-columns: repeat(8, minmax(0, 1fr));
    // grid-cols-9	grid-template-columns: repeat(9, minmax(0, 1fr));
    // grid-cols-10	grid-template-columns: repeat(10, minmax(0, 1fr));
    // grid-cols-11	grid-template-columns: repeat(11, minmax(0, 1fr));
    // grid-cols-12	grid-template-columns: repeat(12, minmax(0, 1fr));
    // grid-cols-none	grid-template-columns: none;
    // grid-cols-subgrid	grid-template-columns: subgrid;
    "grid": ("grid-cols-1": "grid-template-columns: repeat(1, minmax(0, 1fr))",
        "grid-cols-2": "grid-template-columns: repeat(2, minmax(0, 1fr))",
        "grid-cols-3": "grid-template-columns: repeat(3, minmax(0, 1fr))",
        "grid-cols-4": "grid-template-columns: repeat(4, minmax(0, 1fr))",
        "grid-cols-5": "grid-template-columns: repeat(5, minmax(0, 1fr))",
        "grid-cols-6": "grid-template-columns: repeat(6, minmax(0, 1fr))",
        "grid-cols-7": "grid-template-columns: repeat(7, minmax(0, 1fr))",
        "grid-cols-8": "grid-template-columns: repeat(8, minmax(0, 1fr))",
        "grid-cols-9": "grid-template-columns: repeat(9, minmax(0, 1fr))",
        "grid-cols-10": "grid-template-columns: repeat(10, minmax(0, 1fr))",
        "grid-cols-11": "grid-template-columns: repeat(11, minmax(0, 1fr))",
        "grid-cols-12": "grid-template-columns: repeat(12, minmax(0, 1fr))",
        "grid-cols-none": "grid-template-columns: none",
        "grid-cols-subgrid": "grid-template-columns: subgrid",
    ),
    "line-height": ("lh-1": "1",
        "lh-2": "1.25",
        "lh-3": "1.5",
        "lh-4": "1.75",
        "lh-5": "2",
        "lh-6": "2.5",
        "lh-7": "3",
        "lh-8": "4",
        "lh-9": "5",
        "lh-10": "6"),
    "shadow": ("shadow": "0 0.5rem 1rem rgba(0, 0, 0, 0.15)",
        "shadow-sm": "0 0.125rem 0.25rem rgba(0, 0, 0, 0.075)",
        "shadow-lg": "0 1rem 3rem rgba(0, 0, 0, 0.175)"
    ),
    "border": ("border": "1px solid rgba(0, 0, 0, 0.15)",
        "border-0": "border: 0",
        "border-top": "border-top: 1px solid rgba(0, 0, 0, 0.15)",
        "border-top-0": "border-top: 0",
        "border-end": "border-right: 1px solid rgba(0, 0, 0, 0.15)",
        "border-end-0": "border-right: 0",
        "border-bottom": "border-bottom: 1px solid rgba(0, 0, 0, 0.15)",
        "border-bottom-0": "border-bottom: 0",
        "border-start": "border-left: 1px solid rgba(0, 0, 0, 0.15)",
        "border-start-0": "border-left: 0"
    ),
    "grid-column": ("col-auto": "grid-column: auto",
        "col-span-1": "grid-column: span 1 / span 1",
        "col-span-2": "grid-column: span 2 / span 2",
        "col-span-3": "grid-column: span 3 / span 3",
        "col-span-4": "grid-column: span 4 / span 4",
        "col-span-5": "grid-column: span 5 / span 5",
        "col-span-6": "grid-column: span 6 / span 6",
        "col-span-7": "grid-column: span 7 / span 7",
        "col-span-8": "grid-column: span 8 / span 8",
        "col-span-9": "grid-column: span 9 / span 9",
        "col-span-10": "grid-column: span 10 / span 10",
        "col-span-11": "grid-column: span 11 / span 11",
        "col-span-12": "grid-column: span 12 / span 12",
        "col-span-full": "grid-column: 1 / -1",
    )
);

@each $utility, $classes in $utilities {

    // Generar las clases globales primero
    @each $class, $definition in $classes {
        $escaped-class: $class;

        @if str-index($escaped-class, "/") {
            $escaped-class: escape-slash($escaped-class);
        }

        @if str-index($escaped-class, ".") {
            $escaped-class: escape-point($escaped-class);
        }

        .#{$escaped-class} {
            @if str-index($definition, ":") {
                $property: str-slice($definition, 1, str-index($definition, ":") - 1);
                $value: str-slice($definition, str-index($definition, ":") + 1);
                @include property-value($property, $value);
            }

            @else {
                #{$utility}: #{$definition};
            }
        }
    }

    // Luego generar las variantes por breakpoint
    @each $breakpoint, $value in utils.$breakpoints-up {
        @media (min-width: #{$value}) {
            @each $class, $definition in $classes {
                $escaped-class: $class;

                @if str-index($escaped-class, "/") {
                    $escaped-class: escape-slash($escaped-class);
                }

                @if str-index($escaped-class, ".") {
                    $escaped-class: escape-point($escaped-class);
                }

                .#{$breakpoint}\:#{$escaped-class} {
                    @if str-index($definition, ":") {
                        $property: str-slice($definition, 1, str-index($definition, ":") - 1);
                        $value: str-slice($definition, str-index($definition, ":") + 1);
                        @include property-value($property, $value);
                    }

                    @else {
                        #{$utility}: #{$definition} !important;
                    }
                }
            }
        }
    }
}

// @each $utility, $classes in $utilities {
//     @each $class, $definition in $classes {
//         $escaped-class: $class;

//         @if str-index($escaped-class, "/") {
//             $escaped-class: escape-slash($escaped-class);
//         }

//         @if str-index($escaped-class, ".") {
//             $escaped-class: escape-point($escaped-class);
//         }

//         // Media queries para breakpoints "up"
//         @each $breakpoint, $value in utils.$breakpoints-up {
//             @media (min-width: #{$value}) {
//                 .#{$breakpoint}\:#{$escaped-class} {
//                     @if str-index($definition, ":") {
//                         $property: str-slice($definition, 1, str-index($definition, ":") - 1);
//                         $value: str-slice($definition, str-index($definition, ":") + 1);
//                         @include property-value($property, $value);
//                     }

//                     @else {
//                         #{$utility}: #{$definition} !important;
//                     }
//                 }
//             }
//         }

//         .#{$escaped-class} {
//             @if str-index($definition, ":") {
//                 $property: str-slice($definition, 1, str-index($definition, ":") - 1);
//                 $value: str-slice($definition, str-index($definition, ":") + 1);
//                 @include property-value($property, $value);
//             }

//             @else {
//                 #{$utility}: #{$definition};
//             }
//         }
//     }
// }

@each $class, $color in utils.$colors {
    .border-#{$class} {
        border: 1px solid $color !important;
    }

    .bg-#{$class} {
        background-color: $color !important;
    }
}

//TODO
// .position-sticky {
//     position: sticky !important;
//     top: 0;
//     z-index: 1;
// }

.text-shadow-rojo-latam {
    text-shadow: var(--text-shadow-rojo-latam) !important;
}

.text-shadow-verde {
    text-shadow: var(--text-shadow-verde) !important;
}

.text-stroke {
    -webkit-text-stroke: 1.5px !important;
}

// .shadow {
//     box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
// }

// .shadow-sm {
//     box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
// }

// .shadow-lg {
//     box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
// }

.border-radius-50-percent {
    border-radius: 50%;
}

.border-radius-10 {
    border-radius: 10px;
}


.h-vh70 {
    height: 70vh !important;
}

.h-vh50 {
    height: 50vh !important;
}

// .w-20 {
//     width: 20% !important;
// }

// .w-25 {
//     width: 25% !important;
// }

// .w-30 {
//     width: 30% !important;
// }

// .w-33 {
//     width: 33% !important;
// }

// .w-40 {
//     width: 40% !important;
// }

// .w-50 {
//     width: 50% !important;
// }

// .w-75 {
//     width: 75% !important;
// }

// .w-80 {
//     width: 75% !important;
// }

// .w-100 {
//     width: 100% !important;
// }

// .w-5 {
//     width: 5% !important;
// }

// .w-10 {
//     width: 10% !important;
// }

.h-25 {
    height: 25% !important;
}

.h-50 {
    height: 50% !important;
}

.h-75 {
    height: 75% !important;
}

.h-100 {
    height: 100% !important;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.width-max-content {
    width: max-content;
}

.webkit-text-stroke-03 {
    -webkit-text-stroke: 0.3px !important;
}

.float-right {
    float: right !important;
}

.overflow-auto {
    overflow: auto !important;
}

.overflow-visible {
    overflow: visible !important;
}



hr {
    border: 3px solid var(--rojo-latam);
}

.hr-small {
    border: 2px solid var(--rojo-latam);
    margin: 0 auto;
}

.m0-auto {
    margin: 0 auto !important;
}

.bg {
    background-color: var(--main-background) !important;
}

.gradient-poco-comun {
    background: linear-gradient(to right, var(--poco-comun-light), var(--poco-comun), var(--poco-comun-dark));
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.3s;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.bold {
    font-weight: bold;
}


.rarity {
    &-0 {
        color: var(--comun);
    }

    &-1 {
        color: var(--poco-comun);
    }

    &-2 {
        color: var(--raro);
    }

    &-3 {
        color: var(--mitico);
    }

    &-4 {
        color: var(--legendario);
    }

    &-5 {
        color: var(--inmortal);
    }

    &-6 {
        color: var(--arcano);
    }
}

.object-fit-cover {
    object-fit: cover !important;
}

.object-fit-contain {
    object-fit: contain !important;
}

.roboto {
    font-family: Roboto, sans-serif !important;
}

.tiny-image {
    width: 150px;

    @include utils.breakpoints("lg") {
        width: 250px;
    }
}

.logo-footer-image {
    width: 80px;
}

.social-footer-image {
    width: 24px;
}

.btn-fixed {
    bottom: 0;
    padding: 12px 0;
    left: 0;
    position: fixed;
    right: 0;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10vh;
}

// transform: skewX(-15deg);