$margin: 0px, 4px, 8px, 10px, 12px, 16px, 20px, 24px, 30px, 32px, 36px, 40px, 48px, 56px, 100px, 80px, 120px, 200px;
$padding: 0px, 4px, 8px, 10px, 12px, 16px, 20px, 24px, 30px, 32px, 36px, 40px, 48px, 56px, 60px, 80px, 100px;

$fontSizes: (
  1: (16, 24),
  2: (14, 20),
  3: (13, 18),
  4: (12, 16),
  5: (11, 14),
  6: (10, 12)
);

$colors: (
    blanco: var(--blanco),
    blanco-latam: var(--blanco-latam),
    negro: var(--negro),
    negro-latam: var(--negro-latam),
    rojo-latam: var(--rojo-latam),
    rojo-latam-minus-20: var(--rojo-latam-minus-20),
    rojo-latam-light: var(--rojo-latam-light),
    morado-latam: var(--morado-latam),
    gris-latam: var(--gris-latam),
    gris-latam-plus-40: var(--gris-latam-plus-40),
    gris-latam-minus-60: var(--gris-latam-minus-60),
    amarillo-latam: var(--amarillo-latam),
    rojo: var(--rojo),
    verde: var(--verde),
    verde-light: var(--verde-light),
    default-text: var(--default-text),
    comun: var(--comun),
    poco-comun: var(--poco-comun),
    raro: var(--raro),
    mitico: var(--mitico),
    legendario: var(--legendario),
    inmortal: var(--inmortal),
    arcano: var(--arcano)
);